@layer base {
  @font-face {
    font-family: 'Zetta Sans';
    src: url('../../assets/fonts/ZettaSans-Regular.woff2') format('woff2');
    font-style: normal;
    font-stretch: normal;
    font-named-instance: 'Regular';
    font-weight: 450;
    font-variation-settings:
      'slnt' 0,
      'wdth' 100,
      'wght' 400;
    font-display: swap;
  }

  @font-face {
    font-family: 'Zetta Sans';
    src: url('../../assets/fonts/ZettaSans-Bold.woff2') format('woff2');
    font-style: normal;
    font-stretch: normal;
    font-named-instance: 'Bold';
    font-weight: 700;
    font-variation-settings:
      'slnt' 0,
      'wdth' 100,
      'wght' 400;
    font-display: swap;
  }

  @font-face {
    font-family: 'Zetta Sans';
    src: url('../../assets/fonts/ZettaSans-Heavy.woff2') format('woff2');
    font-style: normal;
    font-stretch: normal;
    font-named-instance: 'Heavy';
    font-weight: 1000;
    font-variation-settings:
      'slnt' 0,
      'wdth' 100,
      'wght' 400;
    font-display: swap;
  }
}
